<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      input {
        margin: 10px;
      }

      .form-upload div {
        display: flex;
      }

      img {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h2>Edit product</h2>
    <form
      action="/editproduct"
      method="post"
      enctype="multipart/form-data"
      class="form-upload"
    >
      <input type="hidden" name="IDProduct" value="<%- data.id %>" />
      <img src="/upload/<%- data.avatar %>" alt="" />
      <div>
        <input
          type="text"
          value="<%- data.prod_name %>"
          name="prod_name"
          placeholder="Tên sản phẩm"
        />
        <br />
        <input
          type="text"
          value="<%- data.prod_description %>"
          name="prod_description"
          placeholder="Miêu tả sản phẩm"
        />
        <br />
        <input
          type="text"
          value="<%- data.manufacturer %>"
          name="manufacturer"
          placeholder="Tên thương hiệu"
        />
        <br />
        <input
          type="text"
          value="<%- data.price %>"
          name="price"
          placeholder="price"
        />
        <br />
        <input
          type="text"
          value="<%- data.cost %>"
          name="cost"
          placeholder="cost"
        />
        <br />
        <input
          type="text"
          value="<%- data.quantity %>"
          name="quantity"
          placeholder="quantity"
        />
        <br />
      </div>
      <div>
        <input
          type="text"
          value="<%- data.prod_percent %>"
          name="prod_percent"
          placeholder="percent"
        />
        <br />
        <input
          type="text"
          value="<%- data.cpu %>"
          name="cpu"
          placeholder="cpu"
        />
        <br />
        <input
          type="text"
          value="<%- data.hard_drive %>"
          name="hard_drive"
          placeholder="hard_drive"
        />
        <br />
        <input
          type="text"
          value="<%- data.operation_system %>"
          name="operation_system"
          placeholder="operation_system"
        />
        <br />
        <input
          type="text"
          value="<%- data.mux_switch %>"
          name="mux_switch"
          placeholder="mux_switch"
        />
        <br />
        <input
          type="text"
          value="<%- data.screen %>"
          name="screen"
          placeholder="screen"
        />
        <br />
      </div>
      <div>
        <input
          type="text"
          value="<%- data.webcam %>"
          name="webcam"
          placeholder="webcam"
        />
        <br />
        <input
          type="text"
          value="<%- data.connection %>"
          name="connection"
          placeholder="connection"
        />
        <br />
        <input
          type="text"
          value="<%- data.prod_weight %>"
          name="prod_weight"
          placeholder="weight"
        />
        <br />
        <input
          type="text"
          value="<%- data.pin %>"
          name="pin"
          placeholder="pin"
        />
        <br />

        <input type="file" name="avatar" /> <br />
      </div>

      <input type="submit" value="Save" />
    </form>

    <!--  SINGLE FILE -->
    <!-- <form action="/admin/uploadfile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" />
        <input type="submit" value="Upload a file" />
    </form> -->

    <!-- MULTIPLE FILES -->

    <!-- <form action="/uploadmultiple" enctype="multipart/form-data" method="POST">
        Select images: <input type="file" name="myFiles" multiple>
        <input type="submit" value="Upload your files" />
    </form> -->
  </body>
</html>
